@import "bootstrap.less";

body {
    font-family: helvetica;
    font-size: 20px;
    color: #CCCCCC;
    background-color: #E2E2E2;
    
    #head-cont {
		width: 100%;
        height: 164px;
        left: 0;
	    position: fixed;
	    top: 0;
        background-image:url('images/bg.jpg');
		
		#head  {
		    height: 162px;
		    margin: 0 auto;
		    width: 785px;
		    background-image:url('images/header.jpg');
		    background-repeat: no-repeat;
		}
	}
	
	#head-space {
		width: 100%;
		height: 164px;
		left: 0;
	    top: 0;
	}

	.container {
		margin: 40px auto;
		text-align: center;
		
		.auth {

			}
	}
	
	.unstyled li {
	    display: inline-block;
	}
}




